
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Lato:wght@700;900&display=swap');



body
{
    background: rgb(45, 45, 45);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a
{
    text-decoration: none !important;
}


header span
{
    font-size: 1.2rem;
}

#pixContainer1, #pixContainer2, #pixContainer3
{
    background: #c2bebe !important;
    border-radius: 20px;
}

#pixContainer1 div p, #pixContainer2 div p, #pixContainer3 div p
{
    font-weight: 300 !important;
    color: #000 !important;

}

@media(max-width:334px)
{
    header span
    {
        font-size:1rem !important;
    }
}
